<html>
<title>Home</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">

<meta name="viewport" content="width=device-width,height=device-height, initial-scale=0.5,maximum-scale=0.5, user-scalable=no,target-densityDpi=device-dpi">
<%= render "home/header" %> 

<h1 style="color:#FFFFFF;">
<!--Welcome Home-->
</h1>
<span style="position:absolute;top:60px;left:200px;font-size:30px;">
</span>
<body style="background-color:#5a5b5b">
</body>
</html>
